/****** Script for SelectTopNRows command from SSMS  ******/


--- creating company size table for analyis -----
CREATE TABLE Company_Size

(
Customer Varchar(255),
Company_size INT);

INSERT INTO Company_Size

Select [company name] as 'Customer',
		-- CONVERT(VARCHAR(7),CAST('2018-12' AS DATE),120), -- for 'YYYY-MM' format
		--'2018-12' AS 'DATE',
		--([December '18]) as 'Trip_Request'
		[company size] as 'Company_size'
FROM	[SCOOP].[dbo].['Estimated Company Size$']

--- removing 'company' from company name----
UPDATE Company_Size
SET Customer = REPLACE(Customer, 'Company', '')
FROM Company_Size;


SELECT * FROM reg_users;
SELECT * FROM Schedule_users;


------Primary Metrics  for analysis------

With activation_metrics as
(
-----Activation Rate-----
select r.customer as customer,
       sum(r.reg_users) as total_reg_users,
	   sum(s.schedule_users) as total_scheduled_users,
	   count(case when r.reg_users IS NOT NULL then 1  END) as months_reg,
	   count(case when s.schedule_users IS NOT NULL then 1  END) as months_scheduled,
	   round(100.00*(cast(sum(s.schedule_users) as float)/cast(sum(r.reg_users) as float)),0) as total_activation_rate,
	   round(round(100.00*(cast(sum(s.schedule_users) as float)/cast(sum(r.reg_users) as float)),0)/count(case when r.reg_users IS NOT NULL then 1  END),0) as avg_AR_per_month
from  Reg_Users r join schedule_users s ON (r.Customer = s.Customer and r.date = s.date)
group by r.customer
--ORDER by r.customer asc
),
trip_metrics as
(
-----Avg Trip per Customer---	 
select customer,
       sum(trip_request) as total_trips,
	   count(case when trip_request IS NOT NULL then 1  END) as months_trips_taken,
       (sum(trip_request)/ count(case when trip_request IS NOT NULL then 1  END))as avg_trips_per_month
from trip_request 
group by customer 
--order by customer
),
penetration_metrics as
(
--- penetration rate per customer---
select 
       r.[Customer] as customer,
	   c.Company_size,
	   sum(r.reg_users) as total_reg_users,
	   count(case when r.reg_users IS NOT NULL then 1  END) as months_reg,
	   min(case when r.reg_users IS NOT NULL then date END) as reg_month, 
	   sum(r.reg_users)/count(case when r.reg_users IS NOT NULL then 1  END) as avg_reg_users_per_month,
	   100.00*round(cast(sum(r.reg_users) as float)/cast(c.Company_size as float),2) as Total_PR,
	   round(100.00*round((cast(sum(r.reg_users) as float)/cast(c.Company_size as float)),2)/count(case when r.reg_users IS NOT NULL then 1  END),0) as Avg_PR_per_month
from  Reg_Users r join Company_Size c ON (r.Customer = c.Customer)
--where 100.00*(round(CAST(reg_users AS float) / CAST(company_size as float),2)) is not null
group by r.customer, company_size
--ORDER by r.customer asc
)

SELECT  p.customer,
        p.Company_size,
		p.total_reg_users,
		a.total_scheduled_users,
		t.total_trips,
		p.months_reg,
		p.reg_month,
		a.months_scheduled,
		t.months_trips_taken,
		p.avg_reg_users_per_month,
		p.Total_PR,
		a.total_activation_rate,
		p.Avg_PR_per_month,
		a.avg_AR_per_month,
		t.avg_trips_per_month
FROM activation_metrics a 
JOIN  penetration_metrics p ON (a.customer = p.customer)
JOIN trip_metrics t ON (t.customer = a.customer)

---- regitered users by registration month -----
select * from reg_users
SELECT r.customer,
       min(case when reg_users IS NOT NULL then date END) as reg_month 
from  Reg_Users r 
group by customer 
order by customer

---- customer segmentation (platinum / gold / silver) ----
With activation_metrics as
(
-----Activation Rate-----
select r.customer as customer,
       sum(r.reg_users) as total_reg_users,
	   sum(s.schedule_users) as total_scheduled_users,
	   count(case when r.reg_users IS NOT NULL then 1  END) as months_reg,
	   count(case when s.schedule_users IS NOT NULL then 1  END) as months_scheduled,
	   round(100.00*(cast(sum(s.schedule_users) as float)/cast(sum(r.reg_users) as float)),0) as total_activation_rate,
	   round(round(100.00*(cast(sum(s.schedule_users) as float)/cast(sum(r.reg_users) as float)),0)/count(case when r.reg_users IS NOT NULL then 1  END),0) as avg_AR_per_month
from  Reg_Users r join schedule_users s ON (r.Customer = s.Customer and r.date = s.date)
group by r.customer
--ORDER by r.customer asc
),
trip_metrics as
(
-----Avg Trip per Customer---	 
select customer,
       sum(trip_request) as total_trips,
	   count(case when trip_request IS NOT NULL then 1  END) as months_trips_taken,
       (sum(trip_request)/ count(case when trip_request IS NOT NULL then 1  END))as avg_trips_per_month
from trip_request 
group by customer 
--order by customer
),
penetration_metrics as
(
--- penetration rate per customer---
select 
       r.[Customer] as customer,
	   c.Company_size,
	   sum(r.reg_users) as total_reg_users,
	   count(case when r.reg_users IS NOT NULL then 1  END) as months_reg,
	   min(case when r.reg_users IS NOT NULL then date END) as reg_month, 
	   sum(r.reg_users)/count(case when r.reg_users IS NOT NULL then 1  END) as avg_reg_users_per_month,
	   100.00*round(cast(sum(r.reg_users) as float)/cast(c.Company_size as float),2) as Total_PR,
	   round(100.00*round((cast(sum(r.reg_users) as float)/cast(c.Company_size as float)),2)/count(case when r.reg_users IS NOT NULL then 1  END),0) as Avg_PR_per_month
from  Reg_Users r join Company_Size c ON (r.Customer = c.Customer)
--where 100.00*(round(CAST(reg_users AS float) / CAST(company_size as float),2)) is not null
group by r.customer, company_size
--ORDER by r.customer asc
)

SELECT p.customer,
     CASE 
	      WHEN (t.avg_trips_per_month >= 6372 
		       OR a.avg_AR_per_month >= 21
			   OR p.Avg_PR_per_month >= 17) THEN 'Platinum'
	      WHEN (t.avg_trips_per_month < 6372 AND t.avg_trips_per_month >= 2100) 
		       OR (a.avg_AR_per_month < 21 AND a.avg_AR_per_month >= 12)
			   OR (p.Avg_PR_per_month < 17 AND p.Avg_PR_per_month >= 9) THEN 'Gold'
	      WHEN (t.avg_trips_per_month < 2100
		       OR a.avg_AR_per_month < 12
			   OR p.Avg_PR_per_month < 9) THEN 'Silver'
	      end  as value
	  FROM activation_metrics a 
JOIN  penetration_metrics p ON (a.customer = p.customer)
JOIN trip_metrics t ON (t.customer = a.customer)
ORDER BY p.customer asc
